.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px $padding-body-default;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  .link-container {
    display: flex;
    gap: 20px;
    align-items: center;

    .link {
      font-size: 18px;

      @include desktop {
        font-size: 16px;
      }
    }

    @include tablet {
      flex-direction: column;
    }
  }

  @include desktop {
    padding: 10px $padding-body-large;
  }

  @include tablet {
    padding: 10px $padding-body-small;
  }
}