.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  color: var(--color-text-primary);
  font-size: 16px;

  &.inline {
    flex-direction: row;
    align-items: center;
  }
}