@use "media" as *;
@use "variables" as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin clickable {
  --clickable-color: var(--color-text-primary);
  --clickable-background-color: var(--color-primary);
  --clickable-border-color: var(--color-primary);

  --clickable-hover-color: var(--color-accent-hover);
  --clickable-hover-background-color: var(--color-primary);
  --clickable-hover-border-color: var(--color-accent-hover);

  --clickable-active-color: var(--color-accent-active);
  --clickable-active-background-color: var(--color-primary);
  --clickable-active-border-color: var(--color-accent-active);

  color: var(--clickable-color);
  background-color: var(--clickable-background-color);
  border: solid 1px var(--clickable-border-color);
  cursor: pointer;

  &:disabled {
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
    color: var(--color-text-secondary);
  }

  &.secondary-color {
    --clickable-background-color: var(--color-secondary);
    --clickable-border-color: var(--color-secondary);

    --clickable-hover-background-color: var(--color-secondary);

    --clickable-active-background-color: var(--color-secondary);
  }

  &.accent-color {
    --clickable-background-color: var(--color-accent);
    --clickable-border-color: var(--color-accent);

    --clickable-hover-color: var(--color-text-primary);
    --clickable-hover-background-color: var(--color-accent-hover);

    --clickable-active-color: var(--color-text-primary);
    --clickable-active-background-color: var(--color-accent-active);
  }

  &.danger-color {
    --clickable-background-color: var(--color-danger);
    --clickable-border-color: var(--color-danger);

    --clickable-hover-color: var(--color-text-primary);
    --clickable-hover-background-color: var(--color-danger-hover);
    --clickable-hover-border-color: var(--color-danger-hover);

    --clickable-active-color: var(--color-text-primary);
    --clickable-active-background-color: var(--color-danger-active);
    --clickable-active-border-color: var(--color-danger-active);
  }

  &.outline-type {
    --clickable-background-color: var(--color-transparent) !important;
    --clickable-border-color: var(--color-transparent) !important;

    --clickable-hover-background-color: var(--color-transparent) !important;
    --clickable-hover-border-color: var(--color-transparent) !important;

    --clickable-active-background-color: var(--color-transparent) !important;
    --clickable-active-border-color: var(--color-transparent) !important;

    &.accent-color {
      --clickable-color: var(--color-accent);
      --clickable-hover-color: var(--color-accent-hover);
      --clickable-active-color: var(--color-accent-active);
    }

    &.danger-color {
      --clickable-color: var(--color-danger);
      --clickable-hover-color: var(--color-danger-hover);
      --clickable-active-color: var(--color-danger-active);
    }
  }

  @include hover {
    color: var(--clickable-hover-color);
    background-color: var(--clickable-hover-background-color);
    border: solid 1px var(--clickable-hover-border-color);
  }

  &:active:is([aria-disabled=false], :not([aria-disabled])),  {
    color: var(--clickable-active-color);
    background-color: var(--clickable-active-background-color);
    border: solid 1px var(--clickable-active-border-color);
  }
}

@mixin infoPage {
  .container {
    padding-inline: 200px;
    padding-block: 10px;
    @include respond-below(xl) {
      padding-inline: 100px;
    }
    @include respond-below(md) {
      padding-inline: 50px;
    }

    @include respond-below(sm) {
      padding-inline: 15px;
    }
  }

  .content {
    padding: 30px;
    background-color: var(--color-secondary);
    border-radius: $border-radius-default;

    ol {
      list-style: decimal;
      list-style-position: inside;
    }
    ul {
      list-style-type: disc;
      margin-left: 30px;
    }
  }

  h1{
    margin-inline: 15px;
  }
}

@mixin input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .field {
    color: var(--color-text-secondary);
    background-color: var(--color-primary);
    border: solid 1px var(--color-primary);
    height: 100%;
    width:100%;
    padding: 10px 10px;
    border-radius: $border-radius-default;
    outline: none;
    font-size: 16px;

    @include hover {
      &:not(:focus):not(:disabled) {
        border: solid 1px var(--color-accent-hover);
      }
    }

    &:focus {
      outline: none !important;
      border: solid 1px var(--color-accent);
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &::placeholder, p.placeholder {
      font-size: 16px;
    }

    &:disabled, &[aria-disabled=true]{
      background-color: var(--color-disabled);
      cursor: default !important;
    }

    &.error {
      border: solid 1px var(--color-danger);
      &::placeholder, & P.placeholder {
        color: var(--color-danger);
      }
    }
  }

  &:has(.field:disabled, .field:not(:focus)) {
    color: var(--color-text-secondary);
  }

  &:has(.field.error) {
    white-space: pre;
    color: var(--color-danger);
  }
}
