$padding-default: 5px 10px;
$padding-body-default: 200px;
$padding-body-large: 100px;
$padding-body-small: 10px;

$border-radius-default: 10px;
$border-radius-circle: 100%;

$height-control-large: 50px;
$height-control-default: 45px;
$height-control-small: 32px;
