.container {
  height: 100%;

  .info-card {
    max-width: 350px;
    min-width: 350px;
    width: 30%;
  }

  .player-card {
    width: 100%;
  }

  @include respond-below(md) {
    flex-direction: column;

    .info-card {
      width: 100%;
      max-width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .player-card {
      display: contents;
    }
  }

  @include respond-below(500px) {
    .info-card {
      flex-direction: column;
      align-items: normal;
    }
  }
}
