.checkbox-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  border: solid 1px var(--color-primary);
  border-radius: 10px;
  user-select: none;

  input[type="checkbox"] {
    display: none;
  }

  @include hover {
    border: solid 1px var(--color-accent);
  }

  &:has(input[type="checkbox"]:checked) {
    background-color: var(--color-accent);
  }
}