.container {
  .menu {
    width: 100%;
    padding: 10px;
    border-radius: $border-radius-default;
    background-color: var(--color-secondary);
  }

  @include respond-below(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-below(sm) {
    display: grid;
    grid-template-columns: 1fr;
  }
}