.card {
  height: fit-content;
  background-color: var(--color-secondary);
  padding: $padding-card-md;
  border-radius: $border-radius-default;

  .poster-container {
    .alert {
      width: 100%;
    }

    .poster {
      width: 100%;
      position: relative;
      background-color: var(--color-primary);
      aspect-ratio: 3/4;
      display: block;
      border-radius: $border-radius-default;

      .delete-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      .icon-container {
        @include clickable;

        height: 100%;
        border-radius: $border-radius-default;

        .icon {
          height: 64px;
          width: 64px;
        }
      }

      @include respond-below(md) {
        max-width: 300px;
      }

      @include respond-below(500px) {
        max-width: none;
      }

      & img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        object-position: bottom;
        border-radius: $border-radius-default;
      }
    }

    .button-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      @include respond-below(xs) {
        grid-template-columns: 1fr;
      }
    }
  }
}