.avatar {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: $border-radius-circle;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-circle;
  }

  .text {
    font-size: $font-size-xxl;
  }
}