.tag {
  height: $height-control-small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $padding-default;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  border: solid 1px var(--color-primary);
  border-radius: $border-radius-default;
  font-size: 14px;

  &.accent {
    background-color: var(--color-accent);
  }

  &.danger {
    background-color: var(--color-danger);
  }
}