.button {
  --icon-size: 32px;

  @include clickable;

  height: $height-control-default;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: $border-radius-default;
  padding: $padding-default;
  font-size: 16px;

  &.small-size {
    --icon-size: 18px;

    height: $height-control-small;
    font-size: 14px;
    gap: 5px;
  }

  .icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
