.link {
  color: var(--color-text-primary);
  font-size: 18px;
  text-decoration: none;

  @include hover {
    color: var(--color-accent-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--color-accent-active);
  }

  &.small {
    font-size: 16px;
    color: var(--color-text-primary);

    @include hover {
      color: var(--color-accent-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-accent-active);
    }
  }

  &.accent {
    color: var(--color-accent);

    @include hover {
      color: var(--color-accent-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-accent-active);
    }
  }

  &.smallAccent {
    font-size: 16px;
    color: var(--color-accent);

    @include hover {
      color: var(--color-accent-hover);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-accent-active);
    }
  }
} 