.flex_container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: stretch;
}
.flex_items {
  display: flex;
  margin: 10px;
}