.sector {
  background-color: var(--color-secondary);
  border-radius: $border-radius-default;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.inputs {
  @include respond-below(sm) {
    flex-direction: column;
  }
}

.input-size {
  width: calc(100% / 3);
  @include respond-below(sm) {
    width: 100%;
  }
}
