 .container {
  color: var(--color-text-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.default {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  border: solid 1px var(--color-primary);
  border-radius: 60px;
  padding: 5px 5px;
  width: 48px;
  height: 48px;
  
  .icon {
    width: 25px;
    height: 25px;
  }

  @include hover {
    border: solid 1px var(--color-accent-hover);
    color: var(--color-accent-hover);
  }

  &:active {
    border: solid 1px var(--color-accent-active);
    color: var(--color-accent-active);
  }

  &.accent {
    background-color: var(--color-accent);
    color: var(--color-text-primary);

    @include hover {
      border: solid 1px var(--color-accent-hover);
      background-color: var(--color-accent-hover);
    }

    &:active {
      border: solid 1px var(--color-accent-active);
      background-color: var(--color-accent-active);
    }
  }

  &.danger {
    background-color: var(--color-danger);
    color: var(--color-text-primary);

    @include hover {
      border: solid 1px var(--color-danger-hover);
      background-color: var(--color-danger-hover);
    }

    &:active {
      border: solid 1px var(--color-danger-active);
      background-color: var(--color-danger-active);
    }
  }

}