 .container {
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .button {
    @include clickable;

    width: $height-control-lg;
    height: $height-control-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $height-control-md;
    padding: 5px 5px;

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}