.button {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  border: solid 1px var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
    
  &:hover {
    border: solid 1px var(--color-accent);
  }

  &:active {
    background-color: var(--color-accent);
  }
}