.text {
  font-size: $font-size-md;
  color: var(--color-text-primary);
  //overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: pretty;

  &.secondary-color {
    color: var(--color-text-secondary);
  }

  &.accent-color {
    color: var(--color-accent);
  }

  &.danger-color {
    color: var(--color-danger);
  }

  &.small {
    font-size: $font-size-xs;
  }

  &.medium {
    font-size: $font-size-sm;
  }

  &.large {
    font-size: $font-size-xl;
  }

  &.extra-large {
    font-size: $font-size-xxl;
  }
}